html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.6;
  font-size: 18px;
  color:white;
  background-color: #020D13;
  font-weight:100;
}

* {
  box-sizing: border-box;
}

a {
  color: #E4572E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}